<%- include('../partials/header') %>
<body>
<h1><%=todo.title%></h1>
<h2>Content</h2>
    <p><%=todo.textField%></p>
<h2>Description</h2> 
    <p><%=todo.description%></p>
<a href="/todo/edit?id=<%= todo._id %>"><button>Edit</button></a>
</body>